/Temp/
/Logs/
/Library/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
DojoEditor.csproj
DojoRuntime.csproj
DojoRuntimeTests.csproj
unityclient.sln
UnityEditor.UI.csproj
UnityEditor.UI.EditorTests.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Tests.csproj
UnityGameFramework.Editor.csproj
UnityGameFramework.Runtime.csproj